.img-preview{
    width:200px;
    min-height: 300px;
    max-height: 300px;
    margin-bottom: 1rem;
    overflow:hidden;
    @include crossBrowser(box-shadow, $depth2);
}

.img-bg-preview{
    min-height: 300px;
    max-height: 300px;
    max-width: 100%;
    margin-bottom: 1rem;
    overflow: hidden;
    @include crossBrowser(box-shadow, $depth2);
}
