@import "../../../variables/colors";
@import "../../../variables/fonts";
@import "./texts-placeholders";

h1 {
    font-size: $fontHuge;

    @extend %titles;
}

h2 {
    font-size: $fontXLarge;
    text-transform: uppercase;

    @extend %titles;
    &.page-title{
        display:inline-block;
        padding: 3rem 0 2rem;
    }
}

h3 {
    font-size: $fontLarge;
    font-weight: lighter;
    text-transform: uppercase;

    @extend %titles;
    &.page-subtitle{
        margin-left: 1rem;
    }
}

h4 {
    font-size: $fontBase;
    text-transform: uppercase;
    @extend %titles;
    &.page-title-state{
        margin-left: 1rem;
    }
    &.modal-title{
        margin-left: 0;
        padding: 0.5em 0;
        font-size: $fontLarge;
    }
}

h5 {
    font-size: $fontBase;

    @extend %titles;
}

h6 {
    font-size: $fontSmall;

    @extend %titles;
}

a.app-title{
    display:inline;
    padding: 1rem 0;
    font-size: $fontXLarge;
    color: $white;
    &:hover{
        color: $white;
        text-decoration: none;
    }
    &:focus{
        @extend a.app-title:hover;
    }
}

.app-name{
    margin-left: 0;
}

.serie-item-name{
    min-height: 40px;
    padding: 0;
    font-size: $fontBase;
    font-weight: 500;
    line-height: 18px;
    color: $white;
    text-transform: uppercase;
}

.editserie-profile{
    .editserie-infos{
        margin-left: 2rem;
        .edit-seriename{
            width: 100%;
            color: $white;
            font-weight: 700;
            font-size: $fontHuge;
            padding: 2rem 0;
            @include crossBrowser( text-shadow , $textDepth);
            &.long-title{
                font-size: $fontXXXLarge;
                padding: 2rem 0 3rem;
            }
        }
    }
}
