//___________________GRID_______________
$gutter:  1rem !default; // gutter value for grid layouts. Unit can be: %, px, em, rem
$number:  4 !default; // number of equal columns
$left:    2 !default; // left side of uneven columns
$right:   1 !default; // right side of uneven columns
