// Sass mixins for *equal* columns grid container
@mixin grid($number:$number,$newgutter:$gutter) {
    @if $newgutter != $gutter {
        margin-left: -$newgutter;
    }
    & > * {
        width: calc(100% * 1 / #{$number} - #{$newgutter} - .01px);
        @if $newgutter != $gutter {
            margin-left: $newgutter;
        }
    }
    & > .#{namespace}flex-item-double {
        width: calc(100% * 2 / #{$number} - #{$newgutter});
    }
}

// Sass mixins for *unequal* columns grid container
// example : .grid-perso { @include uneven-grid(2, 1); }
@mixin uneven-grid($left:$left, $right:$right, $newgutter:$gutter) {
    @if $newgutter != $gutter {
        margin-left: -$newgutter;
    }
    > * {
        @if $newgutter != $gutter {
            margin-left: $newgutter;
            width: calc(100% - #{$newgutter});
        }
    }
    & :nth-child(odd) {
        $size: ($left / ($left + $right)) * 100%;
        width: calc(#{$size} - #{$newgutter});
    }
    & :nth-child(even) {
        $size: ($right / ($left + $right)) * 100%;
        width: calc(#{$size} - #{$newgutter});
    }
}
